      * {padding:0; margin:0;}

      html {
          /*background:url(/DataLine/images/court.png) 0 0 repeat;*/
          background:url(/DataLine/images/darkness.png) 0 0 repeat;
          padding:15px 15px 0;
          font-family:sans-serif;
          font-size:14px;
          height:100%;
      }

      body  {
          background-image: url(/DataLine/images/r2-d21600.png);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: 92% 20%; 
          background-size: 200px;
          min-height: 50%;
      }

      table {
          border     : 1px solid gray;
          /*width      : 50%;*/
          text-align : center;
      }

      table#sourcetable tbody {
          height: 850px;
      }

      table#sourcetable tbody tr {
          background-color : #ffffff;
          cursor : pointer;
      }

      .center {
          margin: auto;
          width: 50%;
          border: 3px solid #73AD21;
          padding: 10px;
          background:#fff;
      }

    .tabs li {
        list-style:none;
        display:inline;
        font-size:24px;
        /*border: 1px solid red;
 *         border-bottom: 0px solid red;*/
    }

    .tabs a {
        padding:5px 10px;
        display:inline-block;
        background:#000;
        color:#fff;
        text-decoration:none;
    }

    .tabs a.active {
        background:green;
        color:#fff;
    }

    #tab1, #tab2 {
        padding:100px;
        font-size: 20px;
    }

    form {
        width: 80%;
        margin: 0 auto;
    }

    label, input {
        display: inline-block;
    }

    label {
        width: 30%;
        text-align: right;
    }

    /*label + input {
        width: 30%;
        margin: 0 30% 0 4%;
    }*/

    input + br + br+ button {
        margin: 0 52% 0 48%;
        /*float: right;*/
    }

      .tablesorter th:nth-child(19) { min-width: 45px; width: 45px; background-image:none }
      .tablesorter td:nth-child(19) { min-width: 35px; width: 35px; cursor: pointer; }

      .fixed_headers {
        table-layout: fixed;
        border-collapse: collapse;
        margin: 0px auto;
      }
      .fixed_headers table {
        color: #ffffff;
        border-width: 1px;
        border-color:#3A3A3A;
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
        /*width: 861px;*/
        /*width: 100%*/
      }
      .fixed_headers th {
        height: 20px;
        font-family: verdana, arial, sans-serif;
        font-size: 10px;
        border-width: 1px;
        margin: 1px;
        padding: 0px;
        border-style: solid;
        /*border-color: #FFA6A6;*/
        border-color: rgb(0, 0, 153);
        /*background-color: #D56A6A;*/
        background-color: rgb(102, 204, 255);
        color: #222222;
        /*z-index: -1;*/
        background-image: url( /images/bg.png );
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: local;
      }

      .fixed_headers th.headerSortDown {
        margin: 0px;
        padding: 0px;
        background-image: url( /images/desc.png );
        background-repeat: no-repeat;
      }

      .fixed_headers th.headerSortUp {
        margin: 0px;
        padding: 0px;
        background-image: url( /images/asc.png );
        background-repeat: no-repeat;
      }

      .fixed_headers td {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        border-width: 1px;
        margin: 1px;
        padding: 5px;
        border-style: solid;
        /*border-color: #FFA6A6;*/
        border-color: rgb(0, 0, 153);
        /*background-color: #ffffff;*/
        color: #000000;
        /*word-break:break-all;*/
      }

      #scoreboard td {
        border-color: rgb(102, 153, 255);
      }

      #scoreboard th { color: black; background-color: /*#006A6A*/ #AFEEEE; border-color: rgb(102, 153, 255); }

      #scoreboard th:nth-child(1) { min-width: 212px; width: 212px; }
      #scoreboard td:nth-child(1) { min-width: 202px; width: 202px; /*cursor: pointer; text-decoration: underline; color: #0000EE; */}

      #scoreboard th:nth-child(2) { min-width: 45px; width: 45px; }
      #scoreboard td:nth-child(2) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(1) { min-width: 90px; width: 90px; }
      .fixed_headers td:nth-child(1) { min-width: 80px; width: 80px; /*cursor: pointer; text-decoration: underline; color: #0000EE; */}

      .fixed_headers th:nth-child(2) { min-width: 132px; width: 132px; }
      .fixed_headers td:nth-child(2) { min-width: 122px; width: 122px; }

      .fixed_headers th:nth-child(3) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(3) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(4) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(4) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(5) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(5) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(6) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(6) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(7) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(7) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(8) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(8) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(9) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(9) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(10) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(10) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(11) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(11) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(12) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(12) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(13) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(13) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(14) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(14) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(15) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(15) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(16) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(16) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(17) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(17) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(18) { min-width: 45px; width: 45px; }
      .fixed_headers td:nth-child(18) { min-width: 35px; width: 35px; }

      .fixed_headers th:nth-child(19) { min-width: 45px; width: 45px; background-image:none }
      .fixed_headers td:nth-child(19) { min-width: 35px; width: 35px; cursor: pointer; }

      .fixed_headers thead {
        background-color: #ffffff;
        color: #fdfdfd;
      }

      .fixed_headers thead tr {
        display: block;
        position: relative;
        background-color: #ffffff;
      }

      .fixed_headers tbody {
        display: block;
        overflow: scroll;
        /*width: 100%;*/
        /*height: 800px;*/
      }

      .fixed_headers tbody tr:nth-child(even) td{
        /*background-color: #dddddd;*/
        /*background-color: #F7CFCF;*/
      }

      .wrapper {
        /*text-transform: uppercase;*/
        z-index: 1;
        /*background: #ececec;*/
        /*color: #333;*/
        /*cursor: help;*/
        /*font-family: "Gill Sans", Impact, sans-serif;*/
        font-size: 12px;
        /*margin: 100px 75px 10px 75px;*/
        padding: 0px;
        position: relative;
        -webkit-transform: translateZ(1); /* webkit flicker fix */
        -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
      }

      .wrapper .tooltip {
        background: #1496bb;
        /*bottom: -100%;*/
        color: #fff;
        display: block;
        left: -45px;
        top: -2px;
        /*margin-bottom: 15px;*/
        opacity: 0;
        padding: 2px;
        pointer-events: none;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(10px);
           -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
             -o-transform: translateY(10px);
                transform: translateY(10px);
        -webkit-transition: all .25s ease-out;
           -moz-transition: all .25s ease-out;
            -ms-transition: all .25s ease-out;
             -o-transition: all .25s ease-out;
                transition: all .25s ease-out;
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
           -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
             -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      }

      /* This bridges the gap so you can mouse into the tooltip without it disappearing */
      .wrapper .tooltip:before {
        bottom: -20px;
        content: " ";
        display: block;
        /*height: 20px;*/
        left: 0;
        position: absolute;
        width: 100%;
      }

      /* CSS Triangles - see Trevor's post */
      .wrapper .tooltip:after {
        /*border-left: solid transparent 10px;
 *         border-right: solid transparent 10px;
 *                 border-bottom: solid transparent 10px;
 *                         border-top: solid #1496bb 10px;*/
        bottom: -150px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -13px;
        position: absolute;
        width: 0;
      }

      .wrapper:hover .tooltip {
        /*z-index: 10;*/
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px);
      }

      /* IE can just show/hide with no transition */
      .lte8 .wrapper .tooltip {
        display: none;
      }

      .lte8 .wrapper:hover .tooltip {
        display: block;
      }

      /* Dropdown */

      * { margin: 0; padding: 0; }
      *       body{
      *               background:url(/images/court.png) 0 0 repeat;
      *                       font: 14px Helvetica, Sans-Serif; padding: 0px;
      *                             }
      *                                   #page-wrap{ width: 100%; text-align: left;}
      *                                         /*a { text-decoration: none; }*/
      ul{ list-style: none; display: inline-block;}
      p { margin: 25px 0; }

      /*
 *       LEVEL ONE
 *             */
      ul.dropdown { position: relative; z-index: 1; }
      ul.dropdown li { font-weight: bold; float: left; zoom: 1; background: #000; }
      ul.dropdown a:hover { color: #000; }
      ul.dropdown a:active                { color: #ffa500; }
      ul.dropdown li a                    { display: inline-block; padding: 4px 8px; border-right: 1px solid #333; color: #fff; }
      ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
      ul.dropdown li.hover,
      ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
      ul.dropdown li.hover a              { color: black; }

      /*
 *       LEVEL TWO
 *             */
      ul.dropdown ul { width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
      ul.dropdown ul li { font-weight: normal; background: #f6f6f6; color: #000;
        border-bottom: 1px solid #ccc; float: none; }

                                          /* IE 6 & 7 Needs Inline Block */
      ul.dropdown ul li a{ border-right: none; width: 100%; display: inline-block; }

      /*
 *       LEVEL THREE
 *             */
      ul.dropdown ul ul { left: 100%; top: 0; }
      ul.dropdown li:hover > ul { visibility: visible; }

      /* End Dropdown */

      tr:hover td {background:#E0FFFF}

      /* Buttons */

      .blueButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
        box-shadow:inset 0px 1px 0px 0px #54a3f7;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
        background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
        background-color:#007dc1;
        border:1px solid #124d77;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
      }
      .blueButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
        background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
        background-color:#0061a7;
      }
      .blueButton:active {
        position:relative;
        top:1px;
      }
      .orangeButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
        box-shadow:inset 0px 1px 0px 0px #f9eca0;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
        background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
        background-color:#f0c911;
        border:1px solid #e65f44;
        display:inline-block;
        cursor:pointer;
        color:#c92200;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ded17c;
      }
      .orangeButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
        background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
        background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
        background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
        background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
        background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
        background-color:#f2ab1e;
      }
      .orangeButton:active {
        position:relative;
        top:1px;
      }
      .greenButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
        -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
        box-shadow:inset 0px 1px 0px 0px #9acc85;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
        background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
        background-color:#74ad5a;
        border:1px solid #3b6e22;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
      }
      .greenButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
        background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
        background-color:#68a54b;
      }
      .greenButton:active {
        position:relative;
        top:1px;
      }
      .skyBlueButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #29bbff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #29bbff;
        box-shadow:inset 0px 1px 0px 0px #29bbff;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
        background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
        background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
        background-color:#2dabf9;
        border:1px solid #0b0e07;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
      }
      .skyBlueButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
        background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
        background-color:#0688fa;
      }
      .skyBlueButton:active {
        position:relative;
        top:1px;
      }
      .blackButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #33405c));
        background:-moz-linear-gradient(top, #000000 5%, #33405c 100%);
        background:-webkit-linear-gradient(top, #000000 5%, #33405c 100%);
        background:-o-linear-gradient(top, #000000 5%, #33405c 100%);
        background:-ms-linear-gradient(top, #000000 5%, #33405c 100%);
        background:linear-gradient(to bottom, #000000 5%, #33405c 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#33405c',GradientType=0);
        background-color:#000000;
        border:1px solid #000000;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:4px 4px;
        text-decoration:none;
      }
      .blackButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33405c), color-stop(1, #000000));
        background:-moz-linear-gradient(top, #33405c 5%, #000000 100%);
        background:-webkit-linear-gradient(top, #33405c 5%, #000000 100%);
        background:-o-linear-gradient(top, #33405c 5%, #000000 100%);
        background:-ms-linear-gradient(top, #33405c 5%, #000000 100%);
        background:linear-gradient(to bottom, #33405c 5%, #000000 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33405c', endColorstr='#000000',GradientType=0);
        background-color:#33405c;
      }
      .blackButton:active {
        position:relative;
        top:1px;
      }
      .redButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
        -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
        box-shadow:inset 0px 1px 0px 0px #cf866c;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
        background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
        background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
        background-color:#d0451b;
        border:1px solid #942911;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
      }
      .redButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
        background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
        background-color:#bc3315;
      }
      .redButton:active {
        position:relative;
        top:1px;
      }
