<?xml version="1.0" encoding="UTF-8"?>
<!-- web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>dataline</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <session-config>
 	<session-timeout>2</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <servlet>
    <servlet-name>dataline</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataline</servlet-name>
    <url-pattern>/welcome.jsp</url-pattern>
    <url-pattern>/welcome.html</url-pattern>
    <url-pattern>/login.jsp</url-pattern>
    <url-pattern>/login.html</url-pattern>
    <url-pattern>/dashboard.jsp</url-pattern>
    <url-pattern>/dashboard.html</url-pattern>
    <url-pattern>/scheduler.jsp</url-pattern>
    <url-pattern>/scheduler.html</url-pattern>
    <url-pattern>/preferences.jsp</url-pattern>
    <url-pattern>/preferences.html</url-pattern>
    <url-pattern>/initialRetrieve</url-pattern>
    <url-pattern>/getProjects</url-pattern>
    <url-pattern>/getProjectInfo</url-pattern>
    <url-pattern>/searchProjects</url-pattern>
    <url-pattern>/determineCustodians</url-pattern>
    <url-pattern>/determineTablesFromSQLText</url-pattern>
    <url-pattern>/custodianTablesSearch</url-pattern>
    <url-pattern>/projectCommit</url-pattern>
    <url-pattern>/addAmendment</url-pattern>
    <url-pattern>/removeAmendment</url-pattern>
    <url-pattern>/createPlan</url-pattern>
    <url-pattern>/custodianSearch</url-pattern>
    <url-pattern>/deleteVersion</url-pattern>
    <url-pattern>/determineIfFolderExists</url-pattern>
    <url-pattern>/createProjectFolder</url-pattern>
    <url-pattern>/sendEmailDialog</url-pattern>
    <url-pattern>/sendEmailDialogMessage</url-pattern>
    <url-pattern>/addApproval</url-pattern>
    <url-pattern>/removeApproval</url-pattern>
    <url-pattern>/removeAllApprovals</url-pattern>
    <url-pattern>/approve.jsp</url-pattern>
    <url-pattern>/approve.html</url-pattern>
    <url-pattern>/searchSn</url-pattern>
    <url-pattern>/getSchedule</url-pattern>
    <url-pattern>/schedulerCreateNewJob</url-pattern>
    <url-pattern>/schedulerInitialRetrieve</url-pattern>
    <url-pattern>/schedulerUpdateExistingJob</url-pattern>
    <url-pattern>/deleteJob</url-pattern>
    <url-pattern>/generateExcel</url-pattern>
    <url-pattern>/downloadExcel</url-pattern>
    <url-pattern>/excel</url-pattern>
    <url-pattern>/projectCopy</url-pattern>
    <url-pattern>/getScheduleLog</url-pattern>
    <url-pattern>/refreshProjectFromR2d3</url-pattern>
    <url-pattern>/overrideCustodian</url-pattern>
    <url-pattern>/overrideRequester</url-pattern>
    <url-pattern>/runJob</url-pattern>
    <url-pattern>/generateWord</url-pattern>
    <url-pattern>/logout.jsp</url-pattern>
    <url-pattern>/logout.html</url-pattern>
    <url-pattern>/getProjectEmails</url-pattern>
    <url-pattern>/getProjectEmailById</url-pattern>
    <url-pattern>/copyEmailById</url-pattern>
    <url-pattern>/copyAllEmails</url-pattern>
    <url-pattern>/initialUserPrefsRetrieve</url-pattern>
    <url-pattern>/updateUserPrefs</url-pattern>
    <url-pattern>/addRequester</url-pattern>
    <url-pattern>/sendOutlookUserPrefs</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
</web-app>